/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse;
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-size: 100%;
  width: auto;
  }
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
/* GENERAL ------------------------------------------------------------*/
header{
	background-image: url(images/Header.png);
  text-align: center;
  background-size: cover;
  padding: 135px 30px;
  background-attachment:fixed;
}

.logo {
    /*border: 1px solid black;*/
    width: 152px;
    float: right;;
    position: absolute;
    margin: -100px 0 0 100px;

}
nav {
    /* height: 68px; */
    /*border: 1px solid black;*/
    float: right;
    width: 100%;
    margin: -100px 90px;
    /* background: url(../img/ribbon.png) no-repeat top center; */
}

#nav{
  /*border: 1px solid black;*/
	clear: left;
	display: block;
	float: right;
	right: 50%;
	text-align: center;
}

.links li{
/*  border: 1px solid black;*/
display: inline;
font-size: 11px;
color: #333333;
margin: 1em;
}
/*    <!-- ends nav --> */

/*-- hgroup -->*/
hgroup h1 {
    /* God is in the detail: */
    /* font-family: 'Lato', sans-serif; */
    font-size: 70px;
    /* color: #1D1D1D; */
    /* letter-spacing: 0px; */
    text-align: center;
    margin: 80px;
}

hgroup h3 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    letter-spacing: 0px;
    line-height: 28px;
    text-align: center;
    margin: -30px;
    line-height: 22px;
  }
  hgroup form {
    text-align: center;
    color: 1006FF color: white;
    border-radius: 50px;
    padding: 10px 40px 10px 40 px;
    margin-top: 100px;
    /* padding: 0 0 10px; */
}

.scroll img{
  width: 21px;
  text-align: center;
  margin: -100px;
}
section {
  text-align: left;
  height: 400px;
  background-color: #F3F7F8;
  padding: 235px 0 0 30px;
}
article{
  font-family: 'Lato', sans-serif;
  float: right;
  position: absolute;
  margin: -100px 0 0 100px;
}
article h1{
  /* About Us: */
  font-size: 33px;
  color: #1D1D1D;
  letter-spacing: 0px;

}
article h3 {
  font-size: 20px;
  color: #666666;
  letter-spacing: 0px;
  line-height: 30px;
  padding: 30px 0 30px;
  font-weight: lighter;
}
article h5{
  /* Est perspiciatis cup: */
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  overflow: hidden;

}
figure img{
    height: 250px;
}

#img1 {
    position: absolute;
    margin: 0 0 0 830px;
    z-index: 1000;
  }

#img2 {
    margin: -150px 0 0 650px;
    position: absolute;
    z-index: 100;
}
#products {
    border: 1px solid white;
    height: 845px;
    background: #FFFFFF;
    text-align: center;
}
#products h1 {
		font-family: 'Lato', sans-serif;
		float: right;
		position: absolute	;
		margin: 100px 0 0 130px;
    font-size: 33px;
    color: #1D1D1D;
    letter-spacing: 0px;
	}
	.gallery {
			margin: 190px -500px 50px 130px;
	    width: 83%;
	    height: 500px;
	    border: 1px solid none;

	}

	.thumb1 img {
	    max-width: 490px;
	    float: left;
  	  margin: 0 15px 15px 0;
	}
	.thumb2 img {
	    max-width: 237px;
	    float: left;
	    margin-right: 15px;
	}
	.thumb3 img {
			max-width: 237px;
			float: left;
			margin-right: 15px;
			margin-top: 15px;
	}
#status{
	height: 334px;
	background-color: black;
	font-family: 'Lato', sans-serif;
	margin-left: -30px;

}
.up{
	display:inline-block;
	border:1px solid black;
	text-align: center;
	margin: 150px 150px 0 150px;
	color: #FFFFFF;
	font-size: 14px;
}
.down{
	font-size: 40px;
}
#subscribe{
	height: 100%;
	border:1px solid none;
	background: #FFFFFF;
}
.email{
  font-family: 'Lato', sans-serif;
  float: right;;
  margin: 90px 100px 67px;
}
.email h1{
  font-size: 33px;
  color: #1D1D1D;
  letter-spacing: 0px;

}
.email h3 {
  font-size: 20px;
  color: #666666;
  letter-spacing: 0px;
  line-height: 30px;
  padding: 30px 0 30px;
  font-weight: lighter;
}
.email h5{
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  overflow: hidden;
}
.email input{
	background: #FFFFFF;
	border: 1px solid #1D1D1D;
	border-radius: 100px;
	font-size: 12px;
	color: #939393;
	letter-spacing: 0px;
	line-height: 30px;
	margin-top: 40px;
}
#partners{
	border: 1px solid none;
}
.logos {
    height: 26px;
    width: 1059px;
    border: 1px solid none;
    margin-left: -59px;
    padding: 150px;
}

.logos img{
	height: 28px;
	float: left;
	margin-left: 59px;

}
footer{
	height: 299px;
	background-color: black;
}
.logofooter img {
		display:inline-block;
		float: left;;
    padding: 120px 0 0 130px;
}
.adress{
display:inline-block;
font-family: 'Lato', sans-serif;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 24px;
padding: 120px 0 0 130px;
float: left;
}
.soc img {
    float: right;
    padding: 120px 130px 0 130px;
}
.cop {
    position: absolute;
    padding: 259px 0 10px 36%;
    opacity: 0.44;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
}
